<mat-toolbar color="primary">
  <div class="left-section">
    <img class="logo" src="logo.png" alt="Logo" />
    <span class="logo-text">PlanPal</span>
  </div>
  <div class="center-section">
    <button mat-button class="create-event-button" (click)="openCreateEventDialog()">
      Create Event
    </button>

    <mat-form-field appearance="outline" class="search-field">
    
      <mat-label>Introduce el codigo</mat-label>
      <input matInput [(ngModel)]="eventQuery" (keydown.enter)="searchEvent()" />
    </mat-form-field>

    <button mat-button class="busqueda-button" (click)="searchEvent()">
      <mat-icon matPrefix>search</mat-icon>
    </button>
  </div>
  <div class="right-section">
    <ng-container *ngIf="isLogged; else notLogged">
      <button mat-icon-button class="profileButton" [matMenuTriggerFor]="profileMenu">
        <img class="profilebuttonIcon" [src]="profileImage" alt="Perfil" />
        <span>{{ userName }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="openEditProfileDialog()">Editar Perfil</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
      </mat-menu>
    </ng-container>
    <ng-template #notLogged>
      <button mat-icon-button class="profileButton" (click)="goToLogin()">
        <mat-icon class="profilebuttonIcon">account_circle</mat-icon>
        <span>Iniciar sesión</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ng-template>
  </div>
</mat-toolbar>
