/* Estilos generales del navbar */
mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px 30px;
  box-shadow: 0 4px 10px #20202080;
  margin-bottom: 60px;
  height: auto;
}

/* Sección izquierda: Logo y texto */
.left-section {
  display: flex;
  align-items: center;
}
.logo {
  height: 80px;
  margin-right: 10px;
}
.logo-text {
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #000;
  margin-right: 20px;
}

/* Sección centro: Botones y campo de búsqueda */
.center-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* ocupa el espacio intermedio */
}
.busqueda-button {
  background-color: #2196F3;
  color: #000;
  border: none;
  border-radius: 100px;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.create-event-button {
  margin: 0 20px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 9px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.create-event-button:hover {
  background-color: #1976d2;
}
.create-event-button:active {
  background-color: #0d47a1;
}
.search-field {
  width: 300px;
  height: 30px;
  border-radius: 25px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000;
  margin-right: 15px;
  cursor: pointer;
  margin-top: 20px;
}
.search-field .mat-form-field-outline,
.search-field .mat-form-field-outline-start,
.search-field .mat-form-field-outline-gap,
.search-field .mat-form-field-outline-end {
  border-radius: 18px;
}
.search-field .mat-form-field-infix {
  display: flex;
  align-items: center;
}
.search-field .mat-icon {
  font-size: 20px;
  color: #000;
  display: flex;
  align-items: center;
}
.search-field .mat-input-element {
  font-size: 10px;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  
  line-height: 36px;
  margin-left: 10px;
  padding: 0;
}
.search-field .mat-form-field-label {
  font-size: 12px;
  line-height: 36px;
}

/* Sección derecha: Botón de perfil */
.right-section {
  display: flex;
  align-items: center;
}
.profileButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 12px 25px;
  min-height: 50px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 28px;
}
.profileButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #1f1f1f;
}
.profileButton:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.profilebuttonIcon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ffffff;
}

mat-menu {
  border-radius: 20px;
  background-color: #ffffff;
}
mat-menu .mat-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.mat-menu-item {
  text-align: center;
  width: 100%;
}
.mat-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
