<section class="register-section">
  <div class="register-background"></div>

  <div class="register-container">
    <div class="register-card">
      <h2 class="register-title">Crea una Cuenta</h2>

      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <!-- Email -->
        <div class="input-group">
          <input type="email" placeholder="Email" formControlName="email" class="register-input" />
          <div class="error" *ngIf="emailControl?.touched && emailControl?.invalid">
            <small *ngIf="emailControl?.errors?.['required']">El correo es necesario.</small>
            <small *ngIf="emailControl?.errors?.['email']">Introduce un email valido</small>
          </div>
        </div>

        <!-- Password -->
        <div class="input-group">
          <input type="password" placeholder="Password" formControlName="password" class="register-input" />
          <div class="error" *ngIf="passwordControl?.touched && passwordControl?.invalid">
            <small *ngIf="passwordControl?.errors?.['required']">La contraseña es necesaria</small>
            <small *ngIf="passwordControl?.errors?.['minlength']">La contraseña debe tener almenos 6 caracteres.</small>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="input-group">
          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="register-input" />
          <div class="error" *ngIf="confirmPasswordControl?.touched && registerForm.errors?.['mismatch']">
            <small>Las contraseñas no coinciden.</small>
          </div>
        </div>

        <!-- Botón -->
        <button type="submit" [disabled]="isLoading" class="register-button">
          {{ isLoading ? 'Registering...' : 'Register' }}
        </button>
      </form>

      <!-- Mensaje de error -->
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

      <!-- Enlace a login -->
      <p class="login-link">
        ¿Ya tienes una cuenta? <a routerLink="/login">Login</a>
      </p>
    </div>
  </div>
</section>
